body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:72px;
    top:157px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:171px;
    top:155px;
    width:389px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:72px;
    top:199px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:70px;
    top:245px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_original {
    background-image: url('../个人中心－密码修改_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:650px;
    top:156px;
    width:180px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:650px;
    top:156px;
    width:180px;
    height:20px
}

.u6 {
    position:absolute;
    left:650px;
    top:190px;
    width:180px;
    height:200px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:655px;
    top:196px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:190px;
    top:295px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:170px;
    top:200px;
    width:389px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:170px;
    top:240px;
    width:389px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u11 {
    position:absolute;
    left:60px;
    top:451px;
    width:805px;
    height:28px
}

.u11_table {
    background-image: url('../个人中心－密码修改_files/u11_table.png');
}

.u11_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:809px;
    height:32px;
}

.u12_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u14_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u14_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px
}

.u16_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u16_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px
}

.u18_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u18_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px
}

.u20_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u20_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px
}

.u22_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u22_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:23px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:23px
}

.u24_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u24_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:23px
}

.u26_original {
    background-image: url('../个人中心－密码修改_files/u12_original.png');
}

.u26_container {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:23px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:23px
}

.u28 {
    position:absolute;
    left:309px;
    top:491px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:449px;
    top:491px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:60px;
    top:93px;
    width:605px;
    height:30px
}

.u30_table {
    background-image: url('../个人中心－密码修改_files/u30_table.png');
}

.u30_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:609px;
    height:34px;
}

.u31_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u33_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u33_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:25px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:25px
}

.u35_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u35_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:25px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:25px
}

.u37_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u37_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:25px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:25px
}

.u39_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u39_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:25px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:25px
}

.u41_original {
    background-image: url('../个人中心－密码修改_files/u31_original.png');
}

.u41_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:25px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:25px
}

.u43_text {
    position:absolute;
    left:50px;
    top:11px;
    width:220px;
    height:49px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:50px;
    top:11px;
    width:220px;
    height:49px
}

.u44 {
    position:absolute;
    left:260px;
    top:11px;
    width:220px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:710px;
    top:15px;
    width:100px;
    height:45px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:260px;
    top:40px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../个人中心－密码修改_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:60px;
    top:64px;
    width:750px;
    height:3px;
}

.u47 {
    position:absolute;
    left:60px;
    top:64px;
    width:750px;
    height:3px
}

.u48 {
    position:absolute;
    left:550px;
    top:14px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_text {
    position:absolute;
    left:550px;
    top:40px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:550px;
    top:40px;
    width:150px;
    height:19px
}

