.container-wrap {background-color:#eee; border-top:1px solid white; box-shadow:0px 0px 1px gray;}
.page-index {font-size:14px; overflow:hidden}
.page-index ul {padding-bottom:10px;}
.page-index ul li {list-style:disc inside; padding:2px 0}
.page-index ol {padding:0 20px}
.page-index ol li {list-style:decimal outside; margin-bottom:10px}
.page-index p {padding:0.5em}
.page-index h2 {margin:1em 0}

.quick-register-frm .txt {width:233px; padding:5px 10px}
.quick-register-frm .b-btn {width:253px; font-size:18px; font-weight:bold}
