.resume-main, .resume-conver {box-shadow:0 0 8px #bbb;}
.resume-main-wrap {padding:60px; border-bottom:1px solid white;}

.resume-conver {margin-bottom:20px; height:949px;}
.resume-conver span {width:800px; position:absolute; display:block; text-align:center;}
.resume-conver .resume-conver-title {font-size:64px;margin-top:130px;}
.resume-conver .resume-conver-name {font-size:28px; margin-top:230px;}
.resume-conver .resume-conver-email {font-size:20px; margin-top:280px;}
.resume-conver .resume-conver-mobile {font-size:20px; margin-top:330px;}