.left-col {width:800px; padding:0;}
.right-col {width:190px; padding:0 0 0 10px;}
.page-resume-create {font-size:14px;}
.container-wrap {background:#ddd;}

.resume-create-frm .btn {background-color:#eee;}
.resume-create-frm .resume-mod {margin-bottom:10px; position:relative; margin-bottom:30px;}
.resume-create-frm .resume-mod:hover {/*background:#F8F7F7;*/}

/** 模块操作菜单 **/
.resume .resume-mod:hover .resume-mod-op-list {display:block;}
.resume-mod-op-list {right:0; top:6px; z-index:2; font-size:12px; display:none; position:absolute}
.resume-mod-op-list .ti {cursor:pointer;}
.resume-mod-op-list a {text-decoration:none}
.resume-mod-op-list .tick {visibility:hidden;}
.resume-mod-op-list .item {}
.resume-mod-op-list .selected .tick {visibility:visible;}
.resume-mod-op-list li {float:left; margin-left:10px; cursor:pointer}
.resume-mod-op-list ul {display:none; position:absolute; box-shadow:1px 1px 1px #ccc; text-shadow:1px 1px 1px #eee; background-color:white; border:1px solid #ddd;}
.resume-mod-op-list ul li {float:none; margin:0; padding:5px 20px; display:block; white-space:nowrap}
.resume-mod-op-list li:hover ul {display:block;}

/** 模块基础样式 **/
.resume-mod-ti {margin-bottom:10px; font-size:18px}
.resume-mod-ti input.txt {width:100%; border:none; border-bottom:2px solid #DADADA; border-radius:0; background:none; color:#444; font-size:18px; padding:2px 0; font-weight:bold}
.resume-mod-con {}
.resume-mod-con textarea {padding:5px; resize:vertical;}
.resume-mod-con-instance {position:relative;}

.resume-mod-con-instance:hover .resume-mod-instance-op {display:block;}
.resume-mod-instance-op {position:absolute; right:2px; top:0px; display:none;}
.resume-mod-instance-op a {padding:0px 2px 0px 18px; font-size:12px; background-position:1px 1px; background-repeat:no-repeat; color:#345;}
.resume-mod-instance-op a:hover {text-decoration:none}
.resume-mod-remove-instance-btn {background-image:url("../img/del.jpg")}
.resume-mod-clone-instance-btn {background-image:url("../img/copyjpg.jpg")}
.resume-mod-append-instance {margin-top:-21px;}
.resume-mod-append-instance-btn {background:url("../img/add.png") no-repeat 1px center; padding-left:20px;}

.resume-mod-del-btn {background:url("../img/icon_delete.gif") 1px 1px no-repeat; padding:0px 2px 0px 20px; font-size:12px; color:black;}
.resume-mod-change-temp-btn {background:url("../img/template.gif") 1px 1px no-repeat; padding:0px 2px 0px 20px; font-size:12px;}
.resume-op {padding:10px; border-top:1px solid #ccc; background-color:#eee}
.resume-op .btn {background-color:white}
.resume-op .resume-add-more-btn {float:right}

/** 空白模块 **/
.resume-mod-empty .resume-mod-con textarea {width:668px;}

.side-mod {margin-bottom:5px; padding:5px; border:1px solid #ccc; border-radius:3px; line-height:18px; background-color:white;}
.side-mod h3 {font-size:14px; color:gray; padding:5px 0.5em; margin-bottom:0.5em;}
.side-mod dl {margin-bottom:0.5em;}

.cover-setting {overflow:hidden}
.cover-setting ul {padding:0 5px;}
.cover-setting li {float:left; padding:6px; cursor:pointer;}
.cover-setting li img {display:block; width:32px; height:32px; border-radius:3px;  border:1px solid #fff; box-shadow:1px 1px 1px #ddd}
.cover-setting li.current {background-color:#ddd;}

.column-manager dd {padding:5px 0; border-bottom:1px solid #eee;}
.column-manager dd:hover {background-color:#eee;}
.column-manager .mod-invisible .ti {color:#ccc;}
.column-manager .ti  {display:inline-block; width:100px; padding-left:3px; cursor:move; }
.column-manager .order-drag {padding:1px; border:2px dotted #ccc; border-top:none; border-bottom:none; height:12px; display: inline-block; cursor:move; vertical-align:bottom;}
.column-manager .op {text-align: right;}
.column-manager dd .vi, .column-manager dd .del {font-size:12px; cursor:pointer; color:#345; visibility:hidden}
.column-manager dd:hover .vi, .column-manager dd:hover .del {visibility:visible;}

.career-search .srch-kw {margin:10px 3px;}
.career-search .srch-kw .txt {width:110px;}
.career-search dt {display:block; float:left; width:60px; padding-left:10px;}
.career-search h4 {font-size:12px; padding-right:7px; text-align:right; font-weight: normal; margin:0 0 5px 10px;}
.career-search .srch-more dl {display:none; overflow:hidden}

.page-resume-create .page-tip strong {display:block; border-bottom:1px solid #ddd; margin-bottom:3px; padding-bottom:3px; }
