.page-user-payment .container-wrap,
.page-user-myresume .container-wrap,
.page-user-info .container-wrap,
.page-user-payment .container-wrap,
.page-user-invite .container-wrap {border:none;}
.container-wrap {background:none; box-shadow:none}
.container {}
.left-col {padding-left:10px; float:left; width:200px;}
.right-col {padding-right:10px; float:left; width:748px; border:1px solid #ddd; border-radius:5px; background-color:white; padding:15px}
.right-col .cap {font-size:28px; padding:0px 0 10px 0; color:gray; border-bottom:1px solid #ddd;}

.usernav {font-size:14px; border:1px solid #ddd; margin-bottom:10px; padding-bottom:10px; background-color:white; border-radius:5px; }
.usernav dt {font-size:18px; padding:10px; color:#aaa;}
.usernav dd {margin:0 10px;}
.usernav dd a {display:block; padding:8px 0}
.usernav .current {font-weight:bold;}

.page-user-myresume {}
.page-user-myresume .tb {line-height:30px; float:right; margin-top:-43px;}
.page-user-myresume .batch-tb {line-height:30px; margin-top:5px; padding:2px 0; background-color:#eee; display:none}
.page-user-myresume .batch-tb a {margin-left:1em; text-decoration:underline}
.myresume-list li {border-bottom:1px solid #eee; padding:10px 0; overflow:hidden;}
.myresume-list li:last-child {border:none;}
.myresume-list h2 {font-size:18px; font-weight:normal; margin-bottom:10px; text-shadow:1px 1px 1px #eee}
.myresume-list .info {color:gray; float:left}
.myresume-list .abs {line-height:20px; font-size:14px; padding-bottom:10px}
.myresume-list .op {float:right; color:#ccc; }

.page-user-myresume h2 input {display:none}
.page-user-myresume-batch-mode .batch-tb {display:block}
.page-user-myresume-batch-mode h2 input {display:inline-block;}

.user-common-frm {font-size:14px}
.user-common-frm dl {margin:10px 0}
.user-common-frm dt {width:80px}
.user-common-frm dd {margin-left:90px;}
.user-common-frm input.txt {width:300px}
.user-common-frm input.s-txt {width:80px;}

.page-user-info .avatar {padding:10px; width:120px; text-align:center; float:right;}
.page-user-info .avatar a {display:block; margin-bottom:10px; border-radius:5px;}

.page-user-payment .con {padding:10px; font-size:14px;}
.page-user-payment .con dl {margin:3px 0 5px 0; padding:7px 0}
.page-user-payment .con dt {float:left; width:100px; font-weight:bold; padding-left:10px}
.page-user-payment .con dd {margin-left:110px}
.page-user-payment .con li {border-bottom:1px dotted #ddd; padding-bottom:3px; margin-bottom:5px}

.page-user-invite {}
.page-user-invite h3 {margin-bottom:10px;}
.page-user-invite .invite-link {width:400px; color:blue; text-decoration:underline;}

.page-user-findpassword {padding:20px;}