.page-user-payment .container-wrap,
.page-user-myresume .container-wrap,
.page-user-info .container-wrap,
.page-user-payment .container-wrap,
.page-user-invite .container-wrap {border:none;}
.container-wrap {background:none; box-shadow:none}
.container {border:1px solid #ddd; border-radius:5px}
.left-col {padding-left:10px;}
.right-col {width:260px; padding-right:10px;}

.usernav {font-size:14px; width:100%; background-color:#F2F2F2; border-bottom:1px solid #ddd; border-radius:8px 8px 0 0; height:37px;}
.usernav li {float:left}
.usernav .current {background-color:white; border:1px solid #ddd; border-top:none; border-bottom:3px solid white}
.usernav li:first-child {border-left:none; border-radius:8px 0 0 0}
.usernav a {display:block; padding:8px 20px}

.page-user-myresume {}
.page-user-myresume .tb {line-height:30px}
.page-user-myresume .batch-tb {line-height:30px; margin-top:5px; padding:2px 0; background-color:#eee; display:none}
.page-user-myresume .batch-tb a {margin-left:1em; text-decoration:underline}
.myresume-list li {border-bottom:1px solid #eee; padding:10px 0; overflow:hidden;}
.myresume-list li:last-child {border:none;}
.myresume-list h2 {font-size:18px; margin-bottom:10px; text-shadow:1px 1px 1px #eee}
.myresume-list .info {color:gray; float:left}
.myresume-list .abs {line-height:20px; font-size:14px; padding-bottom:10px}
.myresume-list .op {float:right; color:#ccc; }

.page-user-myresume h2 input {display:none}
.page-user-myresume-batch-mode .batch-tb {display:block}
.page-user-myresume-batch-mode h2 input {display:inline-block;}

.user-info-frm {font-size:14px}
.user-info-frm dl {margin:10px 0}
.user-info-frm dt {width:80px}
.user-info-frm dd {margin-left:90px;}
.user-info-frm input.txt {width:300px}
.user-info-frm input.s-txt {width:80px;}

.page-user-info .avatar {padding:10px; width:150px; text-align:center}
.page-user-info .avatar a {display:block; margin-bottom:10px}

.page-user-payment .con {padding:10px;}
.page-user-payment .con dl {margin:3px 0 5px 0; padding:7px 0; background-color:#F2F2F2;}
.page-user-payment .con dt {float:left; width:100px; font-weight:bold; padding-left:10px}
.page-user-payment .con dd {margin-left:110px}
.page-user-payment .con li {border-bottom:1px dotted #ddd; padding-bottom:3px; margin-bottom:5px}

.page-user-invite {}
.page-user-invite h3 {margin-bottom:10px;}
.page-user-invite .invite-link {width:400px; color:blue; text-decoration:underline;}

.page-user-findpassword {padding:20px;}