body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:60px;
    top:520px;
    width:805px;
    height:28px
}

.u0_table {
    background-image: url('../个人中心－付费历史_files/u0_table.png');
}

.u0_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:809px;
    height:32px;
}

.u1_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u3_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u3_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px
}

.u5_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u5_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px
}

.u7_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u7_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px
}

.u9_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u9_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px
}

.u11_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u11_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:23px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:23px
}

.u13_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u13_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:23px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:23px
}

.u15_original {
    background-image: url('../个人中心－付费历史_files/u1_original.png');
}

.u15_container {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:23px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:23px
}

.u17 {
    position:absolute;
    left:309px;
    top:560px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:449px;
    top:560px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:72px;
    top:157px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:171px;
    top:155px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:72px;
    top:199px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_original {
    background-image: url('../个人中心－付费历史_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:650px;
    top:156px;
    width:180px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:650px;
    top:156px;
    width:180px;
    height:20px
}

.u24 {
    position:absolute;
    left:650px;
    top:190px;
    width:180px;
    height:200px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:655px;
    top:196px;
    width:170px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:227px;
    top:161px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:252px;
    top:156px;
    width:38px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:294px;
    top:162px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:327px;
    top:156px;
    width:38px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:369px;
    top:162px;
    width:20px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../个人中心－付费历史_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:170px;
    top:200px;
    width:380px;
    height:80px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:86px;
}

.u32 {
    position:absolute;
    left:2px;
    top:32px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:170px;
    top:200px;
    width:380px;
    height:80px
}

.u33 {
    position:absolute;
    left:175px;
    top:208px;
    width:370px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:70px;
    top:309px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:171px;
    top:307px;
    width:49px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:70px;
    top:351px;
    width:98px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_original {
    background-image: url('../个人中心－付费历史_files/u31_original.png');
}

.u37_container {
    position:absolute;
    left:170px;
    top:350px;
    width:380px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:386px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:170px;
    top:350px;
    width:380px;
    height:80px
}

.u39 {
    position:absolute;
    left:175px;
    top:358px;
    width:370px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:60px;
    top:93px;
    width:605px;
    height:30px
}

.u40_table {
    background-image: url('../个人中心－付费历史_files/u40_table.png');
}

.u40_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:609px;
    height:34px;
}

.u41_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px
}

.u43_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u43_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:25px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:25px
}

.u45_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u45_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:25px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:25px
}

.u47_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u47_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:25px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:25px
}

.u49_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u49_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:25px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:25px
}

.u51_original {
    background-image: url('../个人中心－付费历史_files/u41_original.png');
}

.u51_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:25px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:25px
}

.u53_text {
    position:absolute;
    left:50px;
    top:11px;
    width:220px;
    height:49px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:50px;
    top:11px;
    width:220px;
    height:49px
}

.u54 {
    position:absolute;
    left:260px;
    top:11px;
    width:220px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:710px;
    top:15px;
    width:100px;
    height:45px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:260px;
    top:40px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../个人中心－付费历史_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:60px;
    top:64px;
    width:750px;
    height:3px;
}

.u57 {
    position:absolute;
    left:60px;
    top:64px;
    width:750px;
    height:3px
}

.u58 {
    position:absolute;
    left:550px;
    top:14px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_text {
    position:absolute;
    left:550px;
    top:40px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:550px;
    top:40px;
    width:150px;
    height:19px
}

