body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../基本资料编辑_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:100px;
    width:713px;
    height:228px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:713px;
    height:228px;
}

.u1 {
    position:absolute;
    left:2px;
    top:106px;
    width:709px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:100px;
    width:713px;
    height:228px
}

.u2 {
    position:absolute;
    left:50px;
    top:188px;
    width:71px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:129px;
    top:189px;
    width:131px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:324px;
    top:190px;
    width:71px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:409px;
    top:190px;
    width:131px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:266px;
    width:15px;
    height:15px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:30px;
    top:266px;
    width:15px;
    height:15px
}

.u8_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u8_container {
    position:absolute;
    left:30px;
    top:240px;
    width:15px;
    height:15px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:30px;
    top:240px;
    width:15px;
    height:15px
}

.u10_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:288px;
    width:15px;
    height:15px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:30px;
    top:288px;
    width:15px;
    height:15px
}

.u12_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u12_container {
    position:absolute;
    left:30px;
    top:168px;
    width:15px;
    height:15px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:30px;
    top:168px;
    width:15px;
    height:15px
}

.u14_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u14_container {
    position:absolute;
    left:30px;
    top:142px;
    width:15px;
    height:15px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:142px;
    width:15px;
    height:15px
}

.u16_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u16_container {
    position:absolute;
    left:30px;
    top:190px;
    width:15px;
    height:15px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:30px;
    top:190px;
    width:15px;
    height:15px
}

.u18_original {
    background-image: url('../基本资料编辑_files/u6_original.png');
}

.u18_container {
    position:absolute;
    left:30px;
    top:215px;
    width:15px;
    height:15px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u19 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:30px;
    top:215px;
    width:15px;
    height:15px
}

.u20 {
    position:absolute;
    left:64px;
    top:102px;
    width:91px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:129px;
    top:141px;
    width:131px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:409px;
    top:140px;
    width:131px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:409px;
    top:165px;
    width:131px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_original {
    background-image: url('../基本资料编辑_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:724px;
    top:100px;
    width:250px;
    height:420px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:426px;
}

.u25 {
    position:absolute;
    left:2px;
    top:202px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:724px;
    top:100px;
    width:250px;
    height:420px
}

.u26_line {
    background-image: url('../基本资料编辑_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:736px;
    top:126px;
    width:226px;
    height:3px;
}

.u26 {
    position:absolute;
    left:736px;
    top:126px;
    width:226px;
    height:3px
}

.u27 {
    position:absolute;
    left:744px;
    top:104px;
    width:188px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../基本资料编辑_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:724px;
    top:344px;
    width:250px;
    height:3px;
}

.u28 {
    position:absolute;
    left:724px;
    top:344px;
    width:250px;
    height:3px
}

.u29_line {
    background-image: url('../基本资料编辑_files/u29_line.png');
}

.u29_line {
    position:absolute;
    left:732px;
    top:368px;
    width:224px;
    height:3px;
}

.u29 {
    position:absolute;
    left:732px;
    top:368px;
    width:224px;
    height:3px
}

.u30 {
    position:absolute;
    left:743px;
    top:348px;
    width:187px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:732px;
    top:374px;
    width:237px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:750px;
    top:140px;
    width:213px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../基本资料编辑_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:732px;
    top:143px;
    width:15px;
    height:15px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:732px;
    top:143px;
    width:15px;
    height:15px
}

.u35 {
    position:absolute;
    left:750px;
    top:240px;
    width:213px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_original {
    background-image: url('../基本资料编辑_files/u33_original.png');
}

.u36_container {
    position:absolute;
    left:732px;
    top:167px;
    width:15px;
    height:15px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u37 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:732px;
    top:167px;
    width:15px;
    height:15px
}

.u38_original {
    background-image: url('../基本资料编辑_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:732px;
    top:193px;
    width:15px;
    height:15px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:732px;
    top:193px;
    width:15px;
    height:15px
}

.u40 {
    position:absolute;
    left:750px;
    top:191px;
    width:213px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_original {
    background-image: url('../基本资料编辑_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:889px;
    top:242px;
    width:15px;
    height:15px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u42 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:889px;
    top:242px;
    width:15px;
    height:15px
}

.u43 {
    position:absolute;
    left:750px;
    top:163px;
    width:213px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_original {
    background-image: url('../基本资料编辑_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:732px;
    top:241px;
    width:15px;
    height:15px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u45 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:732px;
    top:241px;
    width:15px;
    height:15px
}

.u46_original {
    background-image: url('../基本资料编辑_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:811px;
    top:242px;
    width:15px;
    height:15px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:811px;
    top:242px;
    width:15px;
    height:15px
}

.u48_text {
    position:absolute;
    left:270px;
    top:190px;
    width:10px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:270px;
    top:190px;
    width:10px;
    height:19px
}

.u49_text {
    position:absolute;
    left:550px;
    top:191px;
    width:10px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:550px;
    top:191px;
    width:10px;
    height:19px
}

